<div class="page-width">
  {% if section.settings.display_products_from_collections == false %}

    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}

    <div class="collection-grid">
      <ul class="grid grid--uniform">
        {% for block in section.blocks limit: section.blocks.size %}
          <li class="grid__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-grid-item', collection: collection %}
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}

  {% else %}

    {% if section.settings.pre_title != blank %}
      <div class="text-center collection-list-uppercase">
        {{ section.settings.pre_title | escape }}
      </div>
    {% endif %}

    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    {% if section.settings.collections_description != blank %}
      <div class="text-center">
        {{ section.settings.collections_description }}
      </div>
    {% endif %}

    <div>
      <div class="collection-grid-adjust">
        <ul class="collection-list-adjust">
          {% for block in section.blocks limit: section.blocks.size %}
            {% if forloop.first %}
              {%- assign collection_default = collections[block.settings.collection] -%}
            {% endif %}

            {%- assign collection = collections[block.settings.collection] -%}
            <li id="{{ collection.handle }}" class="collection-list-item-adjust collection-active">
              <div class="">
                  <a href="" class="text-center collection-list-uppercase-item">
                      {{ collection.title }}
                  </a>
              </div>
              <div class="collection-line-list"></div>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id="list-product-custom">
        {% for block in section.blocks limit: section.blocks.size %}
          {%- assign collection = collections[block.settings.collection] -%}
          <ul id="products-{{ collection.handle }}" class="list-collection" style="display: none;">
            {% for product in collection.products %}
              <li>
                {% include 'product-card-grid', product: product %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": {
    "da": "Kollektionsliste",
    "de": "Kategorien-Liste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelo",
    "fr": "Liste des collections",
    "hi": "कलेक्शन सूची",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "ko": "컬렉션 목록",
    "nb": "Samlingsliste",
    "nl": "Collectielijst",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Lista de coleções",
    "sv": "Kollektionslista",
    "th": "รายการคอลเลกชัน",
    "zh-CN": "产品系列列表",
    "zh-TW": "商品系列清單"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "pre_title",
      "label": {
        "en": "Pre Heading",
        "pt-BR": "Pre-Título"
      },
      "default": {
        "en": "Pre Heading",
        "pt-BR": "Pre-Título"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Kollektionsliste",
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Page de liste des collections",
        "hi": "कलेक्शन सूची",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Kollektionslista",
        "th": "รายการคอลเลกชัน",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      }
    },
    {
      "type": "richtext",
      "id": "collections_description",
      "label": {
        "en": "Collections Description",
        "pt-BR": "Descrição das Coleções"
      }
    },
    {
      "type": "checkbox",
      "id": "display_products_from_collections",
      "label": {
        "en": "Display products from collections",
        "pt-BR": "Exibir produtos das coleções"
      },
      "default": true
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "da": "Kollektioner pr. række",
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fi": "Kokoelmia per rivi",
        "fr": "Collections par rangée",
        "hi": "प्रति पंक्ति कलेक्शन",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "ko": "열 별 컬렉션",
        "nb": "Samlinger per rad",
        "nl": "Collecties per rij",
        "pt-BR": "Coleções por linha",
        "pt-PT": "Coleções por linha",
        "sv": "Produktserier per rad",
        "th": "คอลเลกชันต่อแถว",
        "zh-CN": "每行产品系列数",
        "zh-TW": "每列商品系列數"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "settings": [
        {
          "label": {
            "da": "Kollektion",
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fi": "Kokoelma",
            "fr": "Collection",
            "hi": "कलेक्शन",
            "it": "Collezione",
            "ja": "コレクション",
            "ko": "컬렉션",
            "nb": "Samling",
            "nl": "Collectie",
            "pt-BR": "Coleção",
            "pt-PT": "Coleção",
            "sv": "Produktserie",
            "th": "คอลเลกชัน",
            "zh-CN": "收藏",
            "zh-TW": "商品系列"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Kollektionsliste",
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fi": "Kokoelmaluettelo",
        "fr": "Page de liste des collections",
        "hi": "कलेक्शन सूची",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "ko": "컬렉션 목록",
        "nb": "Samlingsliste",
        "nl": "Collectielijst",
        "pt-BR": "Lista de coleções",
        "pt-PT": "Lista de coleções",
        "sv": "Kollektionslista",
        "th": "รายการคอลเลกชัน",
        "zh-CN": "产品系列列表",
        "zh-TW": "商品系列清單"
      },
      "category": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
